

#header {
  height: 80px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 75px;
}

#menu_box {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  align-items: center;
}
.menu-button {
  margin: 5px;
  height: 30px;
}

