header {
  border-bottom: solid 1px #dedede;
  padding: 30px;
  margin-left: 40px;
  font-size: larger;
}
body {
  display: flex;
  margin-left: 50px;
}

#image-frame {
  margin-top: 50px;
  width: 400px;
  display: flex;
  justify-content: center;
}
#image-frame > img {
  width: 250px;
}
#right {
  display: flex;
  flex-direction: column;
}
#info-box {
  margin: 14%;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.info {
  margin: 2px;
  display: flex;
  flex-direction: row;
}

.info > span {
  padding: 10px;
}
.info > div {
  flex-basis: 100px;
  margin: 5px;
  padding: 3px;
  background-color: gray;
}
button {
  position: relative;
  left: 14%;
  width: 60%;
}
