#bestsellerBook_board {
  height: 320px;
  border: 1px solid #6a3906;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#bestseller_card_list {
  display: flex;
  width: inherit;
  padding: 10px;
}
.bestseller_card {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-right: 15px;
}
.bestseller_card > img {
  margin: 0 auto;
  height: 220px;
}
.bestseller_info {
  color: gray;
  margin-left: 4%;
  margin-top: 4%;
  font-size: small;
}

#sale_book_board {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 25px;
}
#sale_book_board > p {
  margin-top: 45px;
  font-size: large;
}
#saleBook_card_list {
  display: flex;
  flex-wrap: wrap;
}
.saleBook_card {
  width: 220px;
  height: 340px;
  border: #00a199 solid 2px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 30px;
}

.saleBook_card > img {
  margin: 5% auto;
  width: 150px;
  height: 225px;
}
.saleBook_info {
  margin: 2% auto;
}

.saleBook_info > p {
  font-size: small;
}
