* {
  font-family: "GyeonggiBatang";
}
@font-face {
  font-family: "GyeonggiBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#body {
  height: 200vh;
  width: 1024px;
}

#foot {
  height: 50px;
  width: 1024px;
  background-color: #00a199;
  display: flex;
  align-items: center;
  justify-content: center;
}
