* {
  margin: 0;
  padding: 0;
}

#header {
  height: 80px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header > img {
  height: 75px;
}

#banner {
  height: 150px;
  width: 1024px;
  background-color: #00a199;
}
#body {
  height: 200vh;
  width: 1024px;
}


#foot {
  height: 50px;
  width: 1024px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
